// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1269ce;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #13b96e;
$gray: #0E0000;
$light-gray: #dadada;
$mid-gray: #cfcbcb
