<header class="main-header">
  <div id="navbar" class="navbar">
    <h1 class="logo">
      <span class="primary-text"><i class="fas fa-chart-bar"></i> The Insight</span> Hub
    </h1>
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#who">Who we are</a></li>
        <li><a href="#what">What we do</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <h2>Welcome to The Insights Hub</h2>
    <p>We help organisations grow through market-orientation, making ‘customer-led’ a reality</p>
    <p>We provide pragmatic and experienced insight support, often at short notice and at a cost which is not prohibitive.</p>
    <a href="#who" class="btn"><i class="fas fa-chevron-right"></i>Read More</a>
  </div>
</header>

<main>
<%
=begin%>
  About: Icons
<%
=end%>
  <section id="who" class="icons bg-light">
    <div class="flex-items">
      
      <div>
        <i class="fas fa-id-card-alt fa-2x"></i>
        <div>
          <h3>Who we are</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, optio.</p>
        </div>
      </div>
      
      <div>
        <i class="fab fa-researchgate fa-2x"></i>
        <div>
          <h3>Who we are</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, optio.</p>
        </div>
      </div>
      
      <div>
        <i class="fas fa-book-reader fa-2x"></i>
        <div>
          <h3>News</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, optio.</p>
        </div>
      </div>
    </div>
  </section>
  <%
=begin%>
  What we do
<%
=end%>
<section class="what-we-do flex-columns">
  <div class="row">
    <div class="column">
      <div class="column-1">
        <img src="https://res.cloudinary.com/dyvaldrrq/image/upload/v1595146155/The%20Insights%20Hub/marketing-strategy.jpg" alt="">
      </div>
    </div>
    <div class="column">
      <div class="column-2">
        <h2>Informing Decisions</h2>
        <p>
            We provide solutions to all your information needs, adding science to the art of decision making!  Typical questions we answer: 

            What’s happening out there ?  What are our customers buying and thinking?  
            If the answer exists already in published research or online, we’ll find it and analyse it - if not we’ll go hunting with tools like surveys, focus groups and social listening

            I need to sharpen my strategy and understand what is working and what isn’t
            We have over 20 years’ experience of understanding and segmenting customers, brand positioning, feeding into concept development, communications optimisation and measuring in-market effects


            I want my organisation to become more customer-led, getting closer to the market 
            As the move away from large in-house insights teams gathers pace, we can help embed customer-led cultures through  workshops , processes or staff placements
        </p>
        <a href="#" class="btn btn-outline">
          <i class="fas fa-chevron-right"></i> 
          Read more
        </a>
      </div>
    </div>
  </div>
</section>
</main>