<header class="main-header">
  <div id="navbar" class="navbar">
    <h1 class="logo">
      <span class="primary-text"><i class="fas fa-chart-bar"></i> The Insight</span> Hub
    </h1>
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#what">What we do</a></li>
        <li><a href="#who">Who we are</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <h2>Welcome to The Insights Hub</h2>
    <p>We help organisations grow through market-orientation, making ‘customer-led’ a reality</p>
    <p>We provide pragmatic and experienced insight support, often at short notice and at a cost which is not prohibitive.</p>
    <a href="#who" class="btn"><i class="fas fa-chevron-right"></i> Read More</a>
  </div>
</header>

<main>
<%
=begin%>
  About: Icons
<%
=end%>
  <section id="what" class="icons bg-light">
    <div class="flex-items">
      
      <div>
        <i class="fas fa-id-card-alt fa-2x"></i>
        <div>
          <h3>What’s happening out there ?  What are our customers buying and thinking? </h3>
          <p> 
            If the answer exists already in published research or online, we’ll find it and analyse it - if not we’ll go hunting with tools like surveys, focus groups and social listening</p>
        </div>
      </div>
      
      <div>
        <i class="fab fa-researchgate fa-2x"></i>
        <div>
          <h3>I need to sharpen my strategy and understand what is working and what isn’t</h3>
          <p>
            We have over 20 years’ experience of understanding and segmenting customers, brand positioning, feeding into concept development, communications optimisation and measuring in-market effects</p>
        </div>
      </div>
      
      <div>
        <i class="fas fa-book-reader fa-2x"></i>
        <div>
          <h3>I want my organisation to become more customer-led, getting closer to the market </h3>
          <p>
            As the move away from large in-house insights teams gathers pace, we can help embed customer-led cultures through  workshops , processes or staff placements</p>
        </div>
      </div>
    </div>
  </section>
  <%
=begin%>
  What we do
<%
=end%>
  <section id="who"class="what-we-do flex-columns">
    <div class="row">
      <div class="column">
        <div class="column-1">
          <img src="https://res.cloudinary.com/dyvaldrrq/image/upload/v1595146155/The%20Insights%20Hub/marketing-strategy.jpg" alt="">
        </div>
      </div>
      <div class="column">
        <div class="column-2 bg-main">
          <h2>Who we are?</h2>
          <p>
              Ollie has over 20 years’ Insights experience.

              He has worked for large brands commissioning multi-national research
              and also worked agency-side.

              Insight teams he has managed have taken a scientific approach to
              brand building, with lots of agile testing and learning.

              He has also injected thinking from How Brands Grow and Behavioural
              Economics into award-winning insights approaches.

              The Insights Hub has partner collaborations and can scale up as needed.
          </p>
          <a href="https://www.youtube.com/watch?v=JNw1KorgLS0&feature=youtu.be" class="btn btn-outline">
            <i class="fas fa-chevron-right"></i> 
            Read more
          </a>
        </div>
      </div>
    </div>
  </section>

<%
=begin%>
  News  
<%
=end%>

  <section id="news" class="cases flex-grid section-padding">
    <header class="section-header">
      <h2>News</h2>
      <p>See what's out there!</p>
    </header>
    <div class="row">
      <div class="column">
        <img src="https://res.cloudinary.com/dyvaldrrq/image/upload/v1595164283/The%20Insights%20Hub/news-2.jpg" alt="">
        <img src="https://res.cloudinary.com/dyvaldrrq/image/upload/v1595164283/The%20Insights%20Hub/news-1.jpg" alt="">
      </div>
      <div class="column">
        <img src="https://res.cloudinary.com/dyvaldrrq/image/upload/v1595164283/The%20Insights%20Hub/news-3.jpg" alt="">
        <img src="https://res.cloudinary.com/dyvaldrrq/image/upload/v1595164283/The%20Insights%20Hub/news-4.jpg" alt="">
      </div>
      <div class="column">
        <img src="https://res.cloudinary.com/dyvaldrrq/image/upload/v1595164283/The%20Insights%20Hub/news-5.jpg" alt="">
        <img src="https://res.cloudinary.com/dyvaldrrq/image/upload/v1595164283/The%20Insights%20Hub/news-6.jpg" alt="">
      </div>
      <div class="column">
        <img src="https://res.cloudinary.com/dyvaldrrq/image/upload/v1595164283/The%20Insights%20Hub/news-7.jpg" alt="">
        <img src="https://res.cloudinary.com/dyvaldrrq/image/upload/v1595164283/The%20Insights%20Hub/news-8.jpg" alt="">
      </div>
    </div>
  </section>

  <section id="blog"class="blog flex-columns flex-reverse">
    <div class="row">
      <div class="column">
        <div class="column-1">
          <img src="https://res.cloudinary.com/dyvaldrrq/image/upload/v1595166884/The%20Insights%20Hub/blog.jpg" alt="">
        </div>
      </div>
      <div class="column">
        <div class="column-2 bg-sec">
          <h4>19th July 2020 </h4>
          <h2>First Blog Post</h2>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia modi sint quia cumque delectus corrupti necessitatibus ipsam ipsa laboriosam debitis, rem blanditiis ab totam, est illum vitae. Quam, quas numquam!
          </p>
          <a href="#" class="btn btn-outline">
            <i class="fas fa-chevron-right"></i> 
            Read Our Blog
          </a>
        </div>
      </div>
    </div>
  </section>

</main>