<header class="main-header">
  <div id="navbar" class="navbar">
    <h1 class="logo">
      <span class="primary-text"><i class="fas fa-chart-bar"></i>The Insight</span> Hub
    </h1>
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#who">Who we are</a></li>
        <li><a href="#what">What we do</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <h2>Welcome to The Insights Hub</h2>
    <p>We help organisations grow through market-orientation, making ‘customer-led’ a reality</p>
    <p>We provide pragmatic and experienced insight support, often at short notice and at a cost which is not prohibitive.</p>
    <a href="#who" class="btn"><i class="fas fa-chevron-right"></i>Read More</a>
  </div>
</header>