.icons {
  padding: 30px;
    
    h3 {
      font-weight: bold;
      margin-bottom: 15px
    }

    i {
      background: $green;
      color: rgb(255, 255, 255);
      padding: 1rem;
      border-radius: 50%;
      margin-bottom: 15px;
    }

}