.primary-text {
  color: $green;
}


/* Button */

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: $light-gray;
  background: $green;
  border: none;
  border-radius: 7px;
  &:hover {
    opacity: 0.9;

  }
}

.btn- main {
  background: $green;
  color: $light-gray;
}

.btn-sec {
  background: $blue;
  color: $light-gray;
}
.btn-dark {
  background: $gray;
  color: $light-gray;
}
.btn-light {
  background: $light-gray;
  color: $gray;
}

/*Flex items*/

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex Columns*/

.flex-columns {
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    .column-1, .column-2 {
      height: 100%;
    }
  }
}